* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

header {
    height: 75px;
    background: #222222;

    nav {
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 18px;
        display: flex;
        justify-content: space-between;

        .nav__left-side {
            width: 111px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }

        .nav__right-side {
            width: 168px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.registration {
    background: #F8F3F4;
    height: 90px;
    padding-top: 58px;

    .container {
        max-width: 1140px;
        margin: 0 auto;

        h2 {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
        }
    }
}

main {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left-side {
        display: flex;
        flex-direction: column;
        margin: 64px 0 96px;

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-bottom: 20px;
        }

        .input_textArea {
            width: 340px;
            height: 45px;
            border: 1px solid #A4A4A4;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            padding-left: 17px;
        }

        .input_textArea-1,
        .input_textArea-3 {
            margin-bottom: 20px;
        }

        .input_textArea-4 {
            margin-bottom: 15px;
        }

        .radio {
            display: flex;
            margin: 31px 0;
        }

        .radio-input {
            border: 1px solid #A4A4A4;
            box-sizing: border-box;
            width: 17px;
            height: 17px;
            margin-right: 10px;
        }

        .text {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            width: 359px;
        }

        label {
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #000000;
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        a {
            padding: 16px 29px;
            text-decoration: none;
            background: #F16D7F;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            width: 109px;

            img {
                padding-left: 20px;
            }
        }
    }

    .right-side {
        margin: 64px 0 96px;
        width: 652px;

        ul {
            list-style-type: none;
        }

        h2 {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin: 20px 0;
        }

        ul {
            li {
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    padding-right: 20px;
                }
            }
        }
    }
}

.subscribe {
    background-image: url(../img/photo_subscribeS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.subscribe__review {
    width: 360px;
    height: 225px;
    text-align: center;
    margin-top: 97px;
    margin-bottom: 126px;
}

.subscribe__form {
    height: 155px;
    text-align: center;
    margin-top: 150px;
}

.subscribe__p {
    margin-top: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe__span {
    font-style: italic;
}

.subscribe__h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.form_p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}

.input_text {
    background: #E1E1E1;
    width: 234px;
    height: 49px;
    border-radius: 19px 0 0 19px;
    padding-left: 22px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    border: none;
    margin-top: 32px;
}

.input_text:focus {
    outline: none;
}

.button_subscribe {
    background: #F16D7F;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 49px;
    margin-left: -5px;
    border-radius: 0 25px 25px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-right: 5px;
    border: none;
    transition: 0.5s;
}

.button_subscribe:hover {
    box-shadow: none;
    border: 1px solid #F16D7F;
    color: #F16D7F;
    background: #ffffff;
    transition: 0.5s;
}

.button_subscribe:focus {
    outline: none;
}

footer {
    height: 79px;
    background: #222224;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__right-side {
    display: flex;
    justify-content: space-between;
    height: 32px;
    width: 148px;
    margin-top: 24px;
}

.footer__left-side {
    width: 332px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 30px;
}

.footer__link-1 {
    background-image: url(../img/facebook.png);
    width: 32px;
}

.footer__link-2 {
    background-image: url(../img/insta.png);
    width: 32px;
}

.footer__link-2:hover {
    background-image: url(../img/insta_pink.png);
}

.footer__link-3 {
    background-image: url(../img/pinterest.png);
    width: 32px;
}

.footer__link-4 {
    background-image: url(../img/twitter.png);
    width: 32px;
}

@media (max-width: 768px) {
    header {
        max-width: 768px;
    }

    nav {
        padding: 18px 32px 18px 32px;
    }

    .registration {
        padding-left: 16px;
    }

    main {
        padding: 0 16px;

        .left-side {
            margin: 40px 0 96px
        }

        .right-side {
            padding-left: 22px;
            margin: 40px 0;

            h2 {
                font-size: 16px;
                line-height: 19px;
            }

            p {
                font-size: 16px;
                line-height: 19px;
                margin: 32px 0 22px;
            }

            ul {
                li {
                    font-size: 16px;
                    line-height: 19px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .subscribe {
        max-width: 768px;
        height: 614px;
        background-image: url(../img/photo_subscribe.png);
    }

    .subscribe__container {
        flex-direction: column;
        align-items: center;
    }

    .subscribe__review {
        margin-top: 64px;
        margin-bottom: 48px;
    }

    .subscribe__form {
        margin-top: 0;
        height: 160px;
    }

    .input_text {
        margin-top: 16px;
    }

    footer {
        max-width: 768px;
    }

    .footer__left-side {
        margin-left: 32px;
    }

    .footer__right-side {
        margin-right: 32px;
    }
}

@media (max-width: 375px) {

    .nav__profile,
    .nav__cart {
        display: none;
    }

    nav {
        padding: 18px 16px 18px 16px;
    }

    header nav .nav__right-side {
        width: 32px;
        padding-top: 8px;
    }

    .registration {
        text-align: center;
        padding-left: 0;
    }

    main {
        flex-direction: column;
        padding: 0 8px;

        .left-side {
            margin: 40px 0;
        }

        .right-side {
            width: 358px;
            padding: 0;
            margin: 0 0 96px;
        }
    }

    .subscribe {
        height: 550px;
    }

    .subscribe__p {
        font-size: 18px;
        line-height: 22px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .subscribe__h3 {
        font-size: 24px;
        line-height: 37px;
    }

    .subscribe__review {
        margin-bottom: 59px;
    }

    .form_p {
        font-size: 14px;
        line-height: 21px;
    }

    .input_text {
        margin-top: 22px;
    }

    footer {
        height: 143px;
    }

    .footer__container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .footer__left-side {
        margin-left: 0;
        margin-top: 40px;
    }

    .footer__right-side {
        margin-right: 0;
        margin-top: 43px;
    }
}